pycache/*.py[cod]*$py.class*.so
venv/env/ENV/.venv/
.env.env.localsecrets.json
.DS_StoreThumbs.db
#Reportes estaticos / Dumps
*.csv.xlsx Snapshot_.html
#Asegurar persistencia del cliente web
!index.html
